<div class="gemini-form-alert {{ module }} {{ module }}--{{#if success}}success{{else}}fail{{/if}}">
  {{#if message}}
    <p class="{{ module }}__message">{{ message }}</p>
  {{/if}}
  {{#if errors}}
    <ul class="{{ module }}__list">
      {{#each errors}}
        <li>
          {{ this }}
        </li>
      {{/each}}
    </ul>
  {{/if}}
</div>
